* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  background: #ffffff;
  position: absolute;
  margin: 0 5%;
  width: 100%;
  top: 5rem;
  left: 0;
  max-width: 112rem;
  min-width: 80rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 2rem);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}


.search.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 2rem);
  margin: 0 5%;
}

@media (min-width: 1350px) {
  .search{
    width: 85%;
    margin: 0 7.5%;
  }
  .search.active {
    width: 85%;
    margin: 0 7.5%;
  }
}

@media (max-width: 1200px) {
  .search.active {
    width: 90%;
  }
}
